<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="adminRealm" class="com.feri.byby.admin.shiro.AdminRelam"></bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="adminRealm"></property>
    </bean>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="login.html"></property>
        <property name="successUrl" value="index.html"></property>
        <property name="unauthorizedUrl" value="error.html"></property>
        <property name="filterChainDefinitions">
            <value>
                /login.html=anon
                /adminlogin.do=anon
                /media/**=anon
                /**=authc
            </value>
        </property>
    </bean>
</beans>