<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1、扫描需要使用IOC的类-->
    <context:component-scan base-package="com.feri.byby.provider.user"></context:component-scan>
    <!--AOP配置事务-->
    <!--1、配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--&lt;!&ndash;2、配置事务增强通知类&ndash;&gt;-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--&lt;!&ndash;哪些方法需要设置什么样的事务-->
            <!--核心：-->
                <!--1、propagation 事务的传播行为-->
                <!--2、isolation 事务的隔离级别&ndash;&gt;-->
            <!--<tx:method name="*" propagation="REQUIRED" isolation="REPEATABLE_READ" />-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--&lt;!&ndash;3、配置aop 为需要事务的类配置通知&ndash;&gt;-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="tranPointcut" expression="execution(* com.feri.byby.provider.*.*(..))"></aop:pointcut>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="tranPointcut"></aop:advisor>-->
    <!--</aop:config>-->

    <!--使用的注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

</beans>