<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.byby.mapper.product.ProMediaMapper">
  <resultMap id="BaseResultMap" type="com.feri.byby.domain.product.ProMedia">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.feri.byby.domain.product.ProMedia">
    <result column="presurl" jdbcType="LONGVARCHAR" property="presurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, flag, createtime,presurl
  </sql>

  <select id="selectByPid" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from t_promedia
    where pid = #{pid,jdbcType=INTEGER} order by flag asc
  </select>

  <insert id="insert" parameterType="com.feri.byby.domain.product.ProMedia">
    insert into t_promedia (pid,flag,createtime, presurl)
    values (#{pid,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER},now(), #{presurl,jdbcType=LONGVARCHAR})
  </insert>
</mapper>