<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.byby.mapper.user.UserLogMapper">
  <resultMap id="BaseResultMap" type="com.feri.byby.domain.user.UserLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, content, createtime
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_userlog
  </select>
  <insert id="insert" parameterType="com.feri.byby.domain.user.UserLog">
    insert into t_userlog ( uid, content,  createtime,ip)
    values ( #{uid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},  now(),#{ip})
  </insert>

</mapper>